{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-8">
      <h1>TODO list</h1>
    </div>
    <div class="col-sm-4">
      <a href="{% url 'task-list:task-create' %}" class="btn btn-primary">Add task</a>
    </div>
  </div>


<div class="row">
{% for task in task_list %}

  <div class="col-sm-8">
    <ul>
      <li>
        <strong>{{ task.content }}</strong>
        {% if task.is_completed %}
          <span class="task-status-done">Done</span>
        {% else %}
          <span class="task-status-notdone">Not done</span>
        {% endif %}
      </li>
      <li>
        <em>Created: {{ task.datetime }}</em>
        <em>Deadline: {{ task.deadline }}</em>
      </li>
      <li>
        Tags: {% for tag in task.tags.all %} {{ tag.name }} {% endfor %}
        <a href="{% url 'task-list:task-update' pk=task.id %}">Update</a>
        <a href="#">Delete</a>
      </li>
    </ul>
  </div>

  <div class="col-sm-4">
    {% if task.is_completed == False %}
      <a href="#" class="btn btn-success">Complete</a>
    {% else %}
      <a href="#" class="btn btn-info">Undo</a>
    {% endif %}
  </div>

{% endfor %}
</div>
{% endblock %}
